apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: logging
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_File parsers.conf
        HTTP_Server  On
        HTTP_Listen  0.0.0.0
        HTTP_Port    2020
        storage.path /fluent-bit/storage

    # ---- INPUT: container stdout/stderr logs ----
    [INPUT]
        Name              tail
        Tag               kube.*
        Path              /var/log/containers/*.log
        Parser            cri
        DB                /fluent-bit/storage/tail.db
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Refresh_Interval  5

    # ---- FILTER 1: Add Kubernetes metadata ----
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           Off
        Keep_Log            On
        K8S-Logging.Parser  On
        K8S-Logging.Exclude On
        Labels              Off
        Annotations         Off

    # ---- FILTER 2: Route ONLY dev namespace into dev-logs ----
    [FILTER]
        Name    rewrite_tag
        Match   kube.*
        Rule    $kubernetes['namespace_name'] ^dev$ dev-logs false

    # ---- FILTER 3: Split dev logs into 3 tags based on pod prefix ----
    [FILTER]
        Name    rewrite_tag
        Match   dev-logs
        Rule    $kubernetes['pod_name'] ^youtube-frontend- frontend-logs false
        Rule    $kubernetes['pod_name'] ^youtube-stream-worker- worker-logs false
        Rule    $kubernetes['pod_name'] ^youtubr-api-cpu- api-logs false

    # ---- FILTER 4: Drop noise (apply to all 3 tags) ----
    [FILTER]
        Name    grep
        Match   *-logs
        Exclude log kube-probe

    [FILTER]
        Name    grep
        Match   *-logs
        Exclude log ELB-HealthChecker

    # ---- OUTPUTS: separate log groups for each service ----
    [OUTPUT]
        Name                cloudwatch_logs
        Match               frontend-logs
        region              eu-north-1
        log_group_name      /k3s/dev/frontend
        log_stream_prefix   frontend-
        auto_create_group   true
        log_retention_days  14


    [OUTPUT]
        Name                cloudwatch_logs
        Match               worker-logs
        region              eu-north-1
        log_group_name      /k3s/dev/worker
        log_stream_prefix   worker-
        auto_create_group   true
        log_retention_days  14

    [OUTPUT]
        Name                cloudwatch_logs
        Match               api-logs
        region              eu-north-1
        log_group_name      /k3s/dev/api
        log_stream_prefix   api-
        auto_create_group   true
        log_retention_days  14

  parsers.conf: |
    [PARSER]
        Name   cri
        Format regex
        Regex  ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$
        Time_Key time
        Time_Format %Y-%m-%dT%H:%M:%S.%L%z
